.linechart-ui {
    background-color: #ff0000;
    width: 200px;
    height: 200px;
}
.linechart-ui span {
    margin-left: 20px;
    color: #ccc;
}
.custom-tooltip {
    padding: 10px;
    background: #fff;
    -webkit-text-fill-color: black;
}
  